.cabCell {
  width: 20vw;
  text-align: center;
}

.tableWrapper {
  position: relative;
  max-width: 50%;
  flex: 1;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 10% 30% 30% 30%;
  z-index: 10;
}

@media screen and (max-width: 800px) {
  .tableWrapper {
    max-width: 100%;
  }
}

.programare {
  margin-top: -3px;
  margin-bottom: -2px;
  margin-right: 1px;
  margin-left: 1px;
  border-radius: 2%;
  cursor: pointer;
  color: snow;
}

.programare:hover {
  z-index: 30 !important;
}
